/* ---| Helpers |--- */
._rLink\(\) {text-decoration: none;}
/* ---| Cells |--- */
.Bd\(2px\,d\,blue\) {border: 2px dotted rgb(51,126,221);}
.Bdrus\(3px\) {border-radius: 3px;}
.Bdrus\(s02\) {border-radius: .694rem;}
.Bdt\(s\,4px\,grey\) {border-top: solid 4px grey;}
.Bgc\(blue\) {background-color: rgb(51,126,221);}
.Bgc\(rgb\(250\,250\,241\)\) {background-color: rgb(250,250,241);}
.Bgi\(url\(resources\/bg\.jpg\)\) {background-image: url(resources/bg.jpg);}
.Bxz\(bb\) {-moz-box-sizing: border-box; box-sizing: border-box;}
.C\(\#C70025\)\:h:hover {color: #C70025;}
.C\(grey-3\) {color: rgb(85,85,85);}
.C\(white\) {color: rgb(255,255,255);}
.Cur\(p\) {cursor: pointer;}
.D\(f\) {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.D\(n\) {display: none;}
.Ff\(ClearSans\) {font-family: ClearSans;}
.Ff\(Papyrus\) {font-family: Papyrus;}
.Fl\(l\) {float: left;}
.Fl\(r\) {float: right;}
.Fld\(c\) {-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;}
.Flxg\(1\) {-webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1;}
.Fw\(b\) {font-weight: bold;}
.Fw\(n\) {font-weight: normal;}
.Fz\(1\.3rem\) {font-size: 1.3rem;}
.Fz\(2\.5rem\) {font-size: 2.5rem;}
.H\(100\%\) {height: 100%;}
.H\(8rem\) {height: 8rem;}
.M\(0\) {margin: 0;}
.M\(\.2rem\) {margin: .2rem;}
.M\(\.5rem\) {margin: .5rem;}
.M\(a\) {margin: auto;}
.Maw\(50rem\) {max-width: 50rem;}
.Maw\(60rem\) {max-width: 60rem;}
.Mih\(100\%\) {min-height: 100%;}
.Mih\(20rem\) {min-height: 20rem;}
.Ml\(\.8rem\) {margin-left: .8rem;}
.Mt\(4\.3rem\) {margin-top: 4.3rem;}
.Mx\(a\) {margin-left: auto; margin-right: auto;}
.O\(n\) {outline: none;}
.Op\(\.6\)\:h:hover {opacity: .6;}
.Or {order: ;}
.P\(0\) {padding: 0;}
.P\(\.2rem\) {padding: .2rem;}
.Pb\(1rem\) {padding-bottom: 1rem;}
.Pb\(\.2rem\) {padding-bottom: .2rem;}
.Pr\(s04\) {padding-right: .25rem;}
.Px\(\.5rem\) {padding-left: .5rem; padding-right: .5rem;}
.Py\(\.2rem\) {padding-top: .2rem; padding-bottom: .2rem;}
.Ta\(b\) {text-align: b;}
.Ta\(c\) {text-align: center;}
.W\(30\%\) {width: 30%;}
.W\(80\%\) {width: 80%;}
@media all and (min-width: 48rem) {
.Bxsh\(0\,0\,1rem\,0\,black\)\@md {box-shadow: 0 0 1rem 0 rgb(0,0,0);}
}
@media all and (min-width: 48rem) {
.D\(b\)\@md {display: block;}
}
@media all and (min-width: 48rem) {
.D\(f\)\@md {display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
}
@media all and (min-width: 48rem) {
.H\(10rem\)\@md {height: 10rem;}
}
@media all and (min-width: 48rem) {
.Maw\(50\%\)\@md {max-width: 50%;}
}
@media all and (min-width: 48rem) {
.Mih\(30rem\)\@md {min-height: 30rem;}
}
@media all and (min-width: 48rem) {
.Pb\(1rem\)\@md {padding-bottom: 1rem;}
}
@media all and (min-width: 48rem) {
.Px\(2rem\)\@md {padding-left: 2rem; padding-right: 2rem;}
}
@media all and (min-width: 48rem) {
.Px\(4rem\)\@md {padding-left: 4rem; padding-right: 4rem;}
}
